@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    --font-mono: 'Courier New', Courier, monospace;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --color-ph-orange: #f54e00;

    /* Light Mode */
    --color-prim-bg: rgb(253 253 248);
    --color-prim-accent: rgb(229 231 224);
    --color-prim-border: rgb(191 193 183);

    --color-prim-input-bg: rgb(238 239 233);
    --color-prim-input-bg-hover: rgb(238 239 233);
    --color-prim-input-border: rgb(210 211 204);
    --color-prim-input-border-hover: rgb(210 211 204);

    --color-prim-text-main: rgb(77 79 70);
    --color-prim-text-sec: rgb(101 103 94);
    --color-prim-text-muted: rgb(158 160 150);

    /* Light Mode */
    --color-tert-bg: rgb(229 231 224);
    --color-tert-accent: rgb(200 202 193);
    --color-tert-border: rgb(158 160 150);

    --color-tert-text-main: rgb(35 37 29);
    --color-tert-text-muted: rgb(115 117 107);
}

/* --- Dark Mode Values --- */
.dark {
    /* Primary Dark */
    --color-prim-bg: rgb(30 31 35);
    --color-prim-accent: rgb(45 46 55);
    --color-prim-border: rgb(62 66 79);

    --color-prim-input-bg: rgb(37 38 43);
    --color-prim-input-bg-hover: rgb(34 35 32);
    --color-prim-input-border: rgb(50 52 63);
    --color-prim-input-border-hover: rgb(176 180 196);

    --color-prim-text-main: rgb(234 236 246);
    --color-prim-text-sec: rgb(174 179 194);
    --color-prim-text-muted: rgb(98 102 116);

    /* Tertiary Dark */
    --color-tert-bg: rgb(45 46 55);
    --color-tert-accent: rgb(56 58 71);
    --color-tert-border: rgb(98 102 116);

    --color-tert-text-main: rgb(237 238 244);
    --color-tert-text-muted: rgb(110 114 129);
}

body {
    background-color: var(--color-tert-bg);
    color: var(--color-tert-text-main);

    font-family: var(--font-sans);
    overflow: hidden;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@theme {
    --color-os-primary-bg: var(--color-prim-bg);
    --color-os-primary-accent: var(--color-prim-accent);
    --color-os-primary-border: var(--color-prim-border);
    --color-os-primary-text: var(--color-prim-text-main);
    --color-os-primary-text-sec: var(--color-prim-text-sec);
    --color-os-primary-muted: var(--color-prim-text-muted);

    /* Input colors */
    --color-os-input-bg: var(--color-prim-input-bg);
    --color-os-input-hover: var(--color-prim-input-bg-hover);
    --color-os-input-border: var(--color-prim-input-border);
    --color-os-input-border-hover: var(--color-prim-input-border-hover);

    --color-os-tertiary-bg: var(--color-tert-bg);
    --color-os-tertiary-accent: var(--color-tert-accent);
    --color-os-tertiary-border: var(--color-tert-border);
    --color-os-tertiary-text: var(--color-tert-text-main);
    --color-os-tertiary-muted: var(--color-tert-text-muted);
}

@layer utilities {
    body.cursor-default {
        cursor: default;
    }

    body.cursor-default a,
    body.cursor-default button,
    body.cursor-default [role="button"],
    body.cursor-default input[type="submit"]{
        cursor: pointer;
    }

    body.cursor-big,
    body.cursor-big label{
        cursor: url('/cursors/big-cursor.svg') 0 0, auto;
    }
    body.cursor-big a,
    body.cursor-big button,
    body.cursor-big [role="button"] {
        cursor: url('/cursors/big-select.svg') 0 0, pointer;
    }

    body.cursor-rick,
    body.cursor-rick label{
        cursor: url('/cursors/rick-cursor.png') 16 16, auto;
    }
    body.cursor-rick a,
    body.cursor-rick button,
    body.cursor-rick [role="button"] {
        cursor: url('/cursors/rick-select.png') 0 0, pointer;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #4b5563;
        border-radius: 9999px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #9ca3af;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #4b5563 transparent;
    }
}
